body{
    background-color: black;
    color: white;

}
.container{
    position: relative;
    
}
.logo{
    position: absolute;
    z-index: 5;
    padding:20px 40px;
}
.signin{
    position: absolute;
   z-index:5;
   right: 0;
   padding-top: 20px;
   padding-right: 20px;

}


.signin button{
    width:80px;
    height:30px;
    background-color: red;
    border-radius: 8px;
    color: white;
    outline: none;
    border: none;
}
.lan {
    position: absolute;
    top: 20px; 
    right: 150px;
    z-index: 10; 
}

.lan select {
    width: 100px;
    height: 30px;
    border-radius: 8px;
    background-color: rgb(27, 26, 26);
    color: white;
    text-indent: 15px;
    appearance: none; 
    -webkit-appearance: none; 
}


.lan select::-ms-expand {
    display: none;
}

.lan select option {
    background-color: rgb(27, 26, 26);
    color: white;
}
.bg{
    position:absolute;
    background-image: url('header-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width:100%;
    height:100vh;
    z-index:1;
    opacity: 0.3;
}

.desc{
  position:relative;
  display: flex;
  justify-content: center; /* horizontally aligns content */
  align-items: center; /* vertically aligns content */
  height: 100vh; /* full viewport height */
  z-index: 8;
}

  
.text {
   text-align:center;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:20px;
    line-height: 0.5;
  }
  .desc .text input{
   position: absolute;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.623);
    border:1px solid rgba(255, 255, 255, 0.525);
    width:350px;
    height:50px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.646);
    border-radius: 5px;
    text-indent:20px;
   font-size: large;
  }
.desc .text input:focus{
    text-indent:0px;
    color:white;
}
  .desc .text p{
    font-size:18px;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height:20px;
  }
.desc .text button{
    background-color: red;
    border: none;
    width:150px;
    height:50px;
    margin-left: 370px;
    margin-top: 10px;
    border-radius: 8px;
}
.desc .text button:hover{
    background-color: rgba(190, 32, 32, 0.938);
}
